{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": true,

  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@types$",
    "^@components/layout(.*)$",
    "^@components/shared(.*)$",
    "^@components(.*)$",
    "^@helpers$",
    "^@lib$",
    "^@hooks$",
    "^@constants$",
    "^@/(.*)(!.css)$",

    "^[./]",
    "^@assets/(.*)$",
    "^@/(.*).css$"
  ],
  "importOrderSeparation": false,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
