@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .scrollbar-stable {
    scrollbar-gutter: stable;
  }

  .scrollbar-w-2::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-w-3::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar-rounded-track::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .scrollbar-rounded-thumb::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  .scrollbar-shadow-track::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .scrollbar-shadow-thumb::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
  }

  .scrollbar-bg-white::-webkit-scrollbar-thumb {
    --tw-scrollbar-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-scrollbar-bg-opacity));
  }

  .scrollbar-bg-black::-webkit-scrollbar-thumb {
    --tw-scrollbar-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-scrollbar-bg-opacity));
  }

  .scrollbar-opacity-30::-webkit-scrollbar-thumb {
    --tw-scrollbar-bg-opacity: 0.3;
  }
}
